.header_library_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -90px;
}

.library_root_container {
  margin-top: -40px;
  display: flex;
}

.bycourse_button {
  background: #4f4f4f !important;
  border: 1px solid #999999 !important;
  box-sizing: border-box !important;
  border-radius: 15px !important;
  width: 200px;
  text-transform: none !important;
  height: 30px;
}


.bycourse_button_sub {
  background: #006AE1 !important;
/* border-radius: 15px; */
  box-sizing: border-box !important;
  border-radius: 15px !important;
  width: 200px;
  text-transform: none !important;
  height: 30px;
  color: white !important;
}



.mylibrary_text {
  padding-left: 10px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #ffffff;
}

@media screen and (max-width: 490px) {
  .bycourse_button {
    width: 120px !important;
    height: 24px !important;
    margin-top: 14px !important;
    margin-right: -20px !important;
    text-transform: none !important;
  }
  .bycourse_button_sub{
    width: 120px !important;
    height: 24px !important;
    margin-top: 14px !important;
    margin-right: -20px !important;
    text-transform: none !important;
  }
  .header_library_container > span {
    font-size: 14px
  }
.header_library_container{
    margin-left: -30px;
    margin-top: 16px;
}
  .menubookicon_text {
    font-size: 18px;
    margin-bottom: -10px;
  }

  .mylibrary_text {
    font-size: 18px;
    margin-bottom: -10px;
  }
}
