.add_new_category_heading {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  margin-top: 60px;
  color: #ffffff;
}

.back_button {
  color: white;
  background: black;
  border: none;
  display: flex;
  align-items: center;
  padding-top: 9px;
  cursor: pointer;
}

.image_button {
  background: #119abd;
  border-radius: 15px;
  height: 30px;
  text-transform: none;
  border: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.addcategory_text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.addcategory_input {
  background: #4f4f4f;
  border-radius: 5px;
  border: none;
  width: 450px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.addcategory_input::placeholder{
  color: white;
}

.addcategory_input_sub{
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  width: 450px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #363636;
  margin-bottom: 20px;
}
.addcategory_input_sub::placeholder{
  color: black;
}

.addcategory_dropdown {
  background: #4f4f4f;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #ffffff;
}



.addcategory_dropdown_sub {
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: black;
  border: none;
}
.update_button {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  color: white !important;
  border-radius: 15px !important;
  margin-top: 27px !important;
  width: 200px !important;
  border: none;
  height: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.015em;
}

.buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white !important;
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  margin-top: 27px !important;
  border: none;
  height: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;

  letter-spacing: -0.015em;
}

.orText {
  color: white;
  margin-bottom: 22px !important;
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em !important;
  margin-top: 22px !important;
}

.signWithGoogle {
  display: flex !important;
  align-items: center;
  text-align: center;
  justify-content: space-evenly !important;
  margin-top: 26px;
  width: 300px;
  background-color: #301313 !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px !important;
  color: black !important;
}
.googleIcon {
  height: 22px;
  width: 22px;
}
.logoutText {
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 28px !important;
  line-height: 21px !important;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em !important;
  color: #ffffff;
  margin-bottom: 37px !important;
}

@media screen and (max-width: 468px) {
  .addcategory_input {
    background: #4f4f4f;
    border-radius: 5px;
    border: none;
    width: 260px;
    height: 40px;
    font-family: "Helvetica";
    font-style: normal;
    margin-top: 5px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    padding-left: 20px;
    color: #ffffff;
  }
  .add_new_category_heading {
    font-size: 15px;
  }




  .addcategory_input_sub{
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: 260px;
    height: 40px;
    font-family: "Helvetica";
    font-style: normal;
    margin-top: 5px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    padding-left: 20px;
    color: #363636;
  }
}
