.add_new_category_heading {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  margin-top: 60px;
  color: #ffffff;
}

.add_new_category_heading_sub {
  /* Regular Bold Text */

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #363636;
}

.back_button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding-top: 9px;
  cursor: pointer;
}

.image_button {
  background: #119abd;
  border-radius: 15px;
  height: 30px;
  text-transform: none;
  border: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.addcategory_text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.addcategory_input {
  background: #4f4f4f;
  border-radius: 5px;
  border: none;
  width: 450px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.addcategory_input::placeholder {
  color: white;
}

.addcategory_input_sub {
  background: #ffffff;
  border-radius: 5px;
  border: none;
  width: 450px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #363636;

  background: #ffffff;
  border: 1px solid rgba(230, 230, 230, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
}

.addcategory_input_sub::placeholder {
  color: #363636;
}

.addcategory_dropdown {
  background: #4f4f4f;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #ffffff;
}

.addcategory_dropdown_sub {
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #363636;
  background: #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
}
.update_button {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  color: white !important;
  border-radius: 15px !important;
  margin-top: 27px !important;
  width: 200px !important;
  border: none;
  height: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.015em;
}

.buttons {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  text-transform: none !important;
  /* Mid-small Light Text */
  margin-top: 10px !important;
  font-family: "Helvetica" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  width: 300px !important;
  color: #ffffff !important;
}

.orText {
  color: white;
  margin-bottom: 22px !important;
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em !important;
  margin-top: 22px !important;
}

.signWithGoogle {
  background: #fcfcfc !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px !important;
  /* Mid-small Light Text */

  font-family: "Helvetica" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  text-transform: none !important;
  display: flex !important;
  width: 440px !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  position: relative;

  color: #363636 !important;
  justify-content: center !important;
}
.googleIcon {
  height: 22px;
  width: 22px;
  position: absolute;
  left: 3%;
  top: 17%;
}
.logoutText {
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 28px !important;
  line-height: 21px !important;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em !important;
  color: #ffffff;
  margin-bottom: 37px !important;
}
.successMessage {
  color: green;
  padding: 10px;
  width: 100%;
  border: 2px solid green;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.successMessageTwo {
  color: white;
  padding: 10px;
  width: 100%;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  padding: 10px;
  border: 2px solid red;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 468px) {
  .addcategory_input {
    background: #4f4f4f;
    border-radius: 5px;
    border: none;
    width: 260px;
    height: 40px;
    font-family: "Helvetica";
    font-style: normal;
    margin-top: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    padding-left: 20px;
    color: #ffffff;
  }

  .signWithGoogle {
    width: 280px !important;
  }

  .addcategory_dropdown {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }

  .addcategory_dropdown_sub {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .add_new_category_heading {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
  }

  .addcategory_input_sub {
    background: #ffffff;
    border-radius: 5px;
    border: none;
    width: 260px;
    height: 40px;
    font-family: "Helvetica";
    font-style: normal;
    margin-top: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    padding-left: 20px;
    color: #363636;
  }

  .add_new_category_heading_sub {
    /* Medium Normal Text */

    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    /* BG_Title_Header */

    background: linear-gradient(87.62deg, #004cb6 -44.71%, #009af9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
  }
}
/* @media screen and (max-width: 1062px) {
  .buttons {
    font-size: 20px !important;
  }
} */
@media screen and (max-width: 600px) {
  .buttons {
    font-size: 16px !important;
    width: 200px !important;
  }
  .logoutText {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
  }
}
