.ratingform_root {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratingform_root_two {
  display: flex;
  width: 100%;
  padding: 20px 0px 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.rating_form_sub_span {
  width: 600px;
}

.footer_buttons {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  font-family: "Helvetica" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  text-transform: none !important;
  font-size: 10px !important;
  width: 60px;
  height: 60px;
  line-height: 11px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  border-radius: 50% !important;
  margin-left: 10px !important;
}

.footer_copyright {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_buttons_container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
}

.footer_buttons > img {
  width: 10px !important;
}

.footer_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating_form_span_two {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #c8c8c8 !important;
}

.ratingform_root_span_one {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.ratingform_root_span {
  padding-bottom: 12px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.ratingform_root_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating_form_sub_three {
}

.rating_form_textarea {
  background: #4f4f4f;
  padding: 20px 0px;
  width: 600px !important;
  border: none;
}


.rating_form_textarea_sub {
  background:  #FFFFFF;
  padding: 20px 0px;
  width: 600px !important;
  border: none;
}

.user_buttons_sub_three {
  margin-left: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.user_buttons_sub_three_hidden {
  display: none;
}

.rating_form_sub_four {
  display: flex;
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .rating_form_sub_four {
    width: 200px !important;
  }
  .rating_form_textarea {
    width: 360px !important;
  }

  .rating_form_textarea_sub {
    width: 360px !important;
  }
  
  .user_buttons_sub_three_hidden {
    width: 350px;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }
  .user_buttons_sub_three {
    display: none;
  }
  .ratingform_root_span_one {
    font-size: 14px;
  }
  .rating_form_sub_span {
    width: 360px;
  }
  .rating_form_span_two {
    font-size: 13px;
  }

  .ratingform_root_two {
    display: flex;
    width: 100%;
    padding: 20px 0px 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 360px) {
  .rating_form_sub_four {
    width: 180px !important;
  }
  .rating_form_textarea {
    width: 300px !important;
  }
  
  .rating_form_textarea_sub {
    width: 300px !important;
  }
  
  .user_buttons_sub_three_hidden {
    width: 280px;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }
  .rating_form_sub_span {
    width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .ratingform_root {
    margin-left: 14px;
  }
  .ratingform_root_three {
    margin-left: 20px;
  }

  .ratingform_root_two {
    margin-left: 10px;
  }
}
