
.addiconcontainer{
  margin-left: 10px;
}
.tagimageusersettingpage{
  
  padding: 0px 7px;
  margin-top: 3px;
  /* margin-top: ; */
}

.editoricon_image {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  padding-left: 4px;
}

.editorimage_icon {
}

.usersettingmembericon {
  width: 100px;
  height: 100px;
}

.profile_sub_input {
  background: #ffffff !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  width: 400px !important;
  height: 40px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;

  /* Font_Body_Light */
  padding: 2px 5px 2px 5px;
  color: #363636 !important;
}

.profile_sub_input::placeholder {
  color: #363636 !important;
}

.profile_sub_input_two {
  background: #4f4f4f !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  width: 400px !important;
  height: 40px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;

  /* Font Body Dark */
  padding: 2px 5px 2px 5px;
  color: #ffffff !important;
}

.profile_sub_input_two::placeholder {
  color: #ffffff !important;
}

.user_header_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.user_root_container {
  display: flex;
}

.vector_image {
  padding: 10px 5px 18px 5px;
}

.vector_container {
  display: flex;
  align-items: center;
  /* font-family: Helvetica !important; */
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center !important;
  
  /* border: 1px solid white; */
  text-align: center;
  letter-spacing: -0.015em;

}

.vector_containertwo {
  margin-top: -10px;
}

.successMessage {
  color: green;
  padding: 10px;
  width: 100%;
  border: 2px solid green;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.successMessageTwo {
  color: white;
  padding: 10px;
  width: 100%;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  padding: 10px;
  border: 2px solid red;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user_buttons {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  width: 200px !important;
  height: 40px !important;
  border-radius: 15px !important;
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  margin-left: 5px !important;
  text-transform: none !important;
  color: #ffffff !important;
}

.user_container_root {
  margin-top: -80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.user_sub_root_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user_buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.user_subcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.hidden_user_input {
  visibility: hidden;
}

.user_update_button {
  background: #4f4f4f !important;
  border-radius: 15px !important;
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 11px !important;
  line-height: 14px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  width: 80px !important;
  height: 19px !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  text-transform: none !important;
}

.user_update_button_sub {
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 11px !important;
  line-height: 14px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  width: 80px !important;
  height: 19px !important;
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  text-transform: none !important;
}

.addcategory_text_bookmark {
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  margin-top: 20px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  /* color: #ffffff; */
}

.user_bookmark_container {
  padding: 0px 20px 0px 20px;
  margin-top: 60px;
}

@media screen and (max-width: 969px) {
  .user_bookmark_container {
    padding: 42px 0px 0px 20px;
  }


  .vector_containertwo {
    margin-top: -30px;
  }
}

@media screen and (max-width: 929px) {
  .user_bookmark_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
  }
  .user_bookmark_container {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    /* border: 1px solid red; */
    margin-left: -12px;
  }

  .hidden_user_input {
    display: none;
  }
  .user_sub_root_container {
    width: 100%;
  }
  .addcategory_text_bookmark {
    margin-left: -280px;
  }

  .vectorcontainermobile {
    position: relative;
    top: -5px;
    left: 2px;
  }
  .usersettingmembericon {
    position: relative;
    left: 30px;
  }

  .user_update_button {
    font-size: 8px !important;
    line-height: 9px !important;

    width: 50px !important;
    height: 15px !important;
    position: relative;
    left: 15px;
    top: 5px;
  }

  .user_update_button_sub {
    width: 50px !important;
    height: 15px !important;
    font-size: 8px !important;
    line-height: 9px !important;
    position: relative;
    left: 15px;
    top: 5px;
  }

  .user_container_root {
    margin-top: 0px;
  }

  .editoricon_image {
    font-style: normal;
    font-weight: 700;
    font-size: 8px !important;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    padding-left: 2px !important;
  }

  .editorimage_icon {
    font-size: 10px;
  }
  .vector_container > span {
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
  }

  .user_buttons {
    width: 200px !important;
    height: 29.26px !important;
    margin-top: 10px !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 18px !important;
  }

  .user_buttons_container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    /* margin-left: -5px; */
  }
  .usersettingbackbutton {
    padding-top: 10px;
  }
    .addcategory_text_bookmark {
    margin-left: -235px;
  }

  .profile_sub_input_two {

    width: 367px !important;



  }



  
.addiconcontainer{
  margin-left: 0px;
}



.tagimageusersettingpage{
  
  padding: 7px 7px;
  margin-top: 10px;
  width: 90%;
  /* margin-top: ; */
}










}
















@media screen and (max-width: 468px) {


  .profile_sub_input {
    width: 267px !important;
    height: 40px !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }



  .addcategory_text_bookmark {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    display: flex !important;
    align-items: center !important;
    letter-spacing: -0.015em !important;
    margin-left: -190px !important;
    /* border: 1px solid red; */
  }
  




  .profile_sub_input_two {
    width: 267px !important;
    height: 40px !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }
}
