
.image_button {
  background: #119abd !important;
  border-radius: 15px !important;
  height: 24px !important;
  text-transform: none !important;
  border: none !important;
  font-family: "Helvetica" !important;
  font-style: normal !important;
  width: 200px !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
}

.addcategory_text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}


.addcategory_dropdown {
  background: #4f4f4f;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  height: 40px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #ffffff;
}
.update_button {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  margin-top: 20px !important;
  width: 120px !important;
  border: none;
  height: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.015em;
}

@media screen and (max-width: 468px) {
  .image_button {
    width: 140px !important;
    height: 24px !important;
    padding: 0px 0px !important;
  }
}
