




.detailpagesubcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.detailpagesubcontainertwo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.editcoursestructurecontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 98px;
  flex-direction: column;
}

.editcoursestructuretext {
  margin-top: 34px;
}

.detail_page_image {
  width: 100%;
}

.detail_page_image_two {
  width: 90%;
}

.pincontainertwo {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0%;
  align-items: center;
  /* ; */
  top: 50%;
}

.userdetailfootericonsleft {
  margin-right: 15px;
}

.userdetailfootericonsright {
  margin-left: -15px;
}

.userdetailpagefootertext {
  font-size: 12px;
  position: absolute;
  /* right: 0; */
  bottom: 0;
}

.userdetailfootericons {
  width: 35px;
  height: 35px;
}

.detailpagetext {
  margin-top: -6px !important;
}

.pincontainer {
  display: none;
}

.responsiveaccordian {
  position: absolute;
  right: 0;
  top: 64px;
}

.detailpagesubcontainer {
  padding: 5px 5px;
}

.detailpage_root_container {
  background: linear-gradient(87.62deg, #004cb6 -44.71%, #009af9 100%);
  width: 100% !important;
  height: 60px;
}

.tableBody {
  color: white !important;
}

.tableBody_sub {
  color: black !important;
}

.polygonclassone {
  background: #f3f6ff !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4) !important;
  transform: rotate(-180deg) !important;
  display: flex !important;
  width: 20px;
  height: 60px;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 100% !important;
  margin-left: 10px !important;
}

.header_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: Helvetica !important; */
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  margin-top: -2px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.buttons_container_detail_page {
  display: flex;
  justify-content: space-between;
}

.detail_delete_button {
  background: #de4040;
  border-radius: 15px;
  cursor: pointer;
  /* font-family: Helvetica !important; */
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #ffffff;
  width: 80px !important;
  border: none;
  padding: 2px 20px;
}

.detail_edit_button {
  background: #ffaa1d;
  border-radius: 15px;
  /* font-family: Helvetica !important; */
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  margin-left: 5px;
  justify-content: center;
  width: 80px !important;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #363636;

  border: none;
  padding: 2px 20px;
}

.detail_tag_text {
  /* font-family: Helvetica !important; */
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #c8c8c8;
}

.detail_tag_button {
  background: #119abd;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 2px 20px;
  margin-left: 10px;
  width: 80px;
  height: 20px;
}

.detail_page_content {
  padding: 12px 0px 30px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.015em;
}

.tags_wrapper_two {
  display: none;
}

.tags_wrapper_one {
  display: flex;
  margin-right: 16px;

  /* ; */
}

.newcategory_main_button {
  /* font-family: Helvetica !important; */
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  background: #ffaa1d !important;
  border: none !important;
  border-radius: 15px !important;
  width: 500px !important;
  height: 40px !important;
  color: #363636 !important;
  text-transform: none !important;
}

.editcoursestructure_button {
  background-color: rgba(42, 36, 42, 0.9) !important;
  border-radius: 20px !important;
  margin-left: 10px !important;
}

.button_container {
  float: right;
}
.button_container_two {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editcoursestructure_button_two {
  background-color: rgba(11, 85, 112, 0.9) !important;
  border-radius: 20px !important;
  margin-left: 10px !important;
  height: 30px !important;
}

.editor_input_field {
  border-radius: 5px;
  background-color: black;
  border: none;
  font-size: 18px;
  margin-left: 30px;
  height: 30px;
}

.editor_submit_button {
  border: none !important;
  background-color: black !important;
  color: white !important;
  height: 30px !important;
  margin-left: 10px !important;
}
.search_main_container {
  margin-top: 16px;
  width: 100%;
  /* border: "1px solid white"; */
  background-color: rgba(38, 36, 42, 0.7);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.action_container {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.git_introduction_dropdown_two {
  /* font-family: Helvetica !important; */
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  background-color: black;
  border-radius: 5px;
  color: #ffffff;
  width: 340px;
  height: 38px !important;
  margin-left: 10px;
  padding-left: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.go_button {
  border: 1px solid white !important;
  margin-right: -10px !important;
  width: 20px !important;
  color: white !important;
  text-transform: none !important;
  margin-left: 10px !important;
}

@media screen and (max-width: 958px) {
  .detailpagesubcontainer {
    padding: 10px 5px;
  }


  .detailpagetext {
   
  padding-top: 26px !important;
  }

  .backbutton_disable{
    /* border: 1px solid red; */
    display: none;
  }
  .tags_wrapper_two {
    padding: 0px 16px 0px 16px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .footerbuttoncontainer{
    position: absolute;
    bottom: 0;
  }
  .tags_wrapper_one {
    display: none;
  }
  .button_container {
    float: none;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .editcoursestructure_button {
    width: 200px;
    height: 25px;

    margin-top: 10px !important;
    font-size: 15px !important;
  }

  .detail_page_image {
    width: 100%;
  }

  .detail_page_image_two {
    width: 90%;
  }

  .detail_page_content {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;

    padding: 0px 16px 0px 16px;
  }

  .detail_page_image {
    width: 80% !important;
  }

  .detail_page_image_two {
    width: 70% !important;
  }

  .buttons_container_detail_page {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .userdetailpagefootertext {
    font-size: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .responsiveaccordian {
    top: 55px;
  }

  .pincontainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .newcategory_main_button {
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;

    color: #363636 !important;
    width: 344px !important ;
    height: 30px !important;
  }
}

@media screen and (max-width: 468px) {
  .newcategory_main_button {
    width: 300px !important;
    /* font-family: Helvetica !important; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #363636;
  }

  .header_text{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    
  }

  
  .editcoursestructuretext {
    margin-top: 22px;
  }

  .detailpagesubcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .detail_page_image {
    width: 100% !important;
  }

  .detail_page_image_two {
    width: 80% !important;
  }

  .editcoursestructurecontainer {
    margin-top: 40px;
  }

  .pincontainertwo {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    align-items: center;
    /* border: 1px solid red; */
    top: 45%;
  }

  .userdetailfootericons {
    width: 25px;

    height: 25px;
  }

  .userdetailpagefootertext {
    font-size: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .userdetailfootericonsleft {
    margin-right: 30px;
  }

  .userdetailfootericonsright {
    margin-left: -30px;
  }
}

@media screen and (max-width: 400px) {
 

  .editor_input_field {
    margin-left: 25px;
    width: 160px;
  }

  .newcategory_main_button {
    width: 300px !important;
    /* font-family: Helvetica !important; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #363636;
  }

  .button_container_two {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
  }
  .editor_submit_button {
    margin-left: 5px;
    width: 20px;
    font-size: 10px;
  }
  .search_main_container {
    margin-left: 8px;
    padding: 10px 0px;
  }
  .action_container {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 330px) {
  .pincontainertwo {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1%;
    align-items: center;
    /* border: 1px solid red; */
    top: 42%;
  }
}
