
.table_wrapper{border: 4px solid red !important;}
.detail_page_content_fornull {
  display: none;
}

.table_icons {
  display: flex;
  align-items: center;
}

.tags_for_user_null {
  display: none;
}
.open_icon_table {
  font-size: 14px;
}

.date_text_container_one {
  padding-right: 14px !important;
}

.date_text_container_two {
  padding-left: 40px !important;
}
.MuiCollapse-wrapperInner {
  margin-left: -24px !important;
}
.tablefirstheader {
  background-color: rgba(38, 36, 42, 0.7);
  font-size: 12px;
}

.editcoursesection {
  background: #111111;
  color: #ffffff;
  padding-bottom: 40px;
}

.editcoursesectiontwo {
  margin-top: 30px;
  width: 100%;
  padding: 10px 20px;
}

.editcourseimagesection {
  padding-left: 10px;
  margin-right: -20px;
}

.detailpagebuttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f3f6ff;
  position: fixed;
  bottom: -1px;
  height: 64px;
  flex-direction: column;
}

.detailpagebuttoncontainedark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: -1px;
  height: 64px;
  flex-direction: column;
  background: #111111;
}

.detailpagebuttoncontainerdarksub {
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailpagebuttoncontainertwo {
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailpagesub {
  position: fixed;
  bottom: 30px;
  left: 0;
  z-index: 1;
}

.tags_wrapper_new {
  display: flex;
  margin-right: 16px;
}

.editors_menu_heading_sub_two {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #363636;
}

.subcontainerdelete {
  display: flex;
}
.deleteeditcontainer {
  display: flex;
  padding-left: 14px;
  justify-content: space-between !important;
  width: 100%;
  padding-right: 16px;
}

.normaluser_container {
  display: flex;
  width: 100%;
  padding: 0px 16px;
  justify-content: space-between;
}

.detailpagesubcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.detailpagesubcontainertwo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.editcoursestructurecontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 98px;
  flex-direction: column;
}

.editcoursestructuretext {
  margin-top: 34px;
}

.detail_page_image {
  width: 100%;
}

.detail_page_image_two {
  width: 90%;
}

.pincontainertwo {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
}
.pincontainer {
  display: none;
}

.userdetailfootericonsleft {
  margin-right: 15px;
}

.userdetailfootericonsright {
  margin-left: -15px;
}

.userdetailpagefootertext {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  left: -10px;
  font-size: 12px;
}

.userdetailpagefootertexttwo {
  display: flex;

  position: absolute;
  right: 5px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  bottom: 5px;

  font-size: 12px;
}

.userdetailfootericons {
  width: 35px;
  height: 35px;
}

.detailpagetext {
  margin-top: -6px !important;
}

.responsiveaccordian {
  position: absolute;
  right: 0;
  top: 64px;
}

.detailpagesubcontainer {
  padding: 5px 5px;
}

.detailpage_root_container {
  background: linear-gradient(87.62deg, #004cb6 -44.71%, #009af9 100%);
  width: 100% !important;
  height: 60px;
}

.tableBody {
  color: white !important;
}

.tableBody_sub {
  color: black !important;
}

.polygonclassone {
  background: #f3f6ff !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4) !important;
  transform: rotate(-180deg) !important;
  display: flex !important;
  width: 20px;
  height: 60px;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 100% !important;
  margin-left: 10px !important;
}

.header_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  margin-top: -2px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.header_text_NormalUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  margin-top: -2px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding-top: 22px;
}

.header_texttwo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  margin-top: -2px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding-top: 22px;
}

.buttons_container_detail_page {
  display: flex;
  margin-left: 6px;
  justify-content: space-between;
}

.buttons_container_detail_page_two {
  display: flex;
  justify-content: space-between;
}

.buttons_container_detail_page_two_two {
  display: flex;
  justify-content: flex-end;
}

.detail_delete_button {
  background: #de4040;
  border-radius: 15px;
  cursor: pointer;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #ffffff;
  width: 80px !important;
  border: none;
  padding: 2px 20px;
}

.detail_edit_button {
  background: #ffaa1d;
  border-radius: 15px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  margin-left: 5px;
  justify-content: center;
  width: 80px !important;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #363636;

  border: none;
  padding: 2px 20px;
}

.detail_tag_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #c8c8c8;
}

.detail_tag_button {
  margin-top: 5px;
  background: #119abd;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  margin-left: 5px;
  width: auto;
  height: 20px;
  cursor: pointer;
}

.detail_page_content {
  padding: 12px 0px 30px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.015em;
}

.scrollable {
  overflow-y: auto;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-top: 0px;
  height: 630px;
}

.noscrollable {
  display: none;
}

.tags_wrapper_two {
  display: none;
}

.tags_wrapper_one {
  display: flex;
  margin-top: 10px;
  margin-left: 18px;
}

.tags_wrapper_three {
  display: flex;
}

.newcategory_main_button {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  background: #ffaa1d !important;
  border: none !important;
  border-radius: 15px !important;
  width: 500px !important;
  height: 40px !important;
  color: #363636 !important;
  text-transform: none !important;
}

.editcoursestructure_button {
  background-color: rgba(42, 36, 42, 0.9) !important;
  border-radius: 20px !important;
  margin-left: 10px !important;
  width: 180px !important;
}

.button_container {
  float: right;
}
.button_container_two {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editcoursestructure_button_two {
  background-color: rgba(11, 85, 112, 0.9) !important;
  border-radius: 20px !important;
  margin-left: 10px !important;
  height: 30px !important;
  width: 140px !important;
}

.editor_input_field {
  border-radius: 5px;
  background-color: black;
  border: none;
  font-size: 18px;
  margin-left: 30px;
  height: 30px;
  color: white;
  border: 1px solid rgba(70, 66, 77, 0.7) !important;
  width: 300px;
}

.editor_input_field:focus {
  outline: none;
}

.editor_submit_button {
  border: none !important;
  background-color: black !important;
  color: white !important;
  height: 30px !important;
  width: 76px !important;
  padding-top: 2px !important;
  margin-left: 10px !important;
}
.search_main_container {
  margin-top: 16px;
  width: 100%;

  background-color: rgba(38, 36, 42, 0.7);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.action_container {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.footerbuttoncontainer {
  position: absolute;
  bottom: 0;
}

.git_introduction_dropdown_two {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  background-color: black;
  border-radius: 5px;
  color: #ffffff;
  width: 340px;
  height: 38px !important;
  margin-left: 10px;
  padding-left: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.go_button {
  border: 1px solid rgba(70, 66, 77, 0.7) !important;
  margin-right: -10px !important;
  width: 20px !important;
  color: white !important;
  text-transform: none !important;
  margin-left: 10px !important;
}

.detdet {
  filter: invert(21%) sepia(100%) saturate(3618%) hue-rotate(102deg)
    brightness(96%) contrast(108%);
}

.detail_tag_text_two {
  display: block;
}

@media screen and (max-width: 1054px) {
  .detail_tag_text_two {
    display: block;
  }
}

@media screen and (max-width: 958px) {
  .detail_page_content_fornull {
    display: block;
  }

  .tags_for_user_null {
    display: block;
  }
  .normaluser_container {
    display: none;
  }
  .detailpagesubcontainer {
    padding: 10px 5px;
  }

  .detailpagetext {
    padding-top: 26px !important;
  }
  .noscrollable {
    display: block;
    padding-bottom: 160px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    overflow-y: scroll;
  }
  .scrollable {
    display: none;
  }
  .backbutton_disable {
    display: none;
  }
  .tags_wrapper_two {
    padding: 0px 106px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .footerbuttoncontainer {
    position: absolute;
    bottom: 0;
  }
  .tags_wrapper_one {
    display: none;
  }
  .tags_wrapper_three {
    display: none;
  }
  .button_container {
    float: none;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .editcoursestructure_button {
    width: 200px;
    height: 25px;

    margin-top: 10px !important;
    font-size: 15px !important;
  }

  .detail_page_image {
    width: 100%;
  }

  .detail_page_image_two {
    width: 90%;
  }

  .detail_page_content {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;

    padding: 0px 16px 0px 16px;
  }

  .detail_page_image {
    width: 60% !important;
  }

  .detail_page_image_two {
    width: 70% !important;
  }

  .buttons_container_detail_page {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 16px;
  }

  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 88px;
  }

  .userdetailpagefootertext {
    font-size: 9px;
    font-weight: 300px;
    position: absolute;
    right: 5px;

    justify-content: flex-end;

    bottom: 5px;
  }
  .deleteeditcontainer {
    width: 88%;
    padding-right: 10px;
  }
}

@media screen and (max-width: 959px) {
  .pincontainertwo {
    right: 70px !important;
    top: -60px !important;
  }
  .scrollable {
    overflow: visible;
  }
  .header_text {
    padding-top: 22px;
  }
  .tags_wrapper_two {
    padding: 0px 193px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 900px) {
  .tags_wrapper_two {
    padding: 0px 174px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 850px) {
  .tags_wrapper_two {
    padding: 0px 164px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 75px;
  }
}

@media screen and (max-width: 810px) {
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 750px) {
  .tags_wrapper_two {
    padding: 0px 80px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 65px;
  }
  .detail_page_image {
    width: 80% !important;
  }
}

@media screen and (max-width: 650px) {
  .tags_wrapper_two {
    padding: 0px 76px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 632px) {
  .tags_wrapper_two {
    padding: 0px 70px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 55px;
  }
}

@media screen and (max-width: 650px) {
  .tags_wrapper_two {
    padding: 0px 0px 0px 50px;
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 582px) {
  .tags_wrapper_two {
    padding: 0px 65px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 537px) {
  .tags_wrapper_two {
    padding: 0px 60px 0px 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }

  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 45px;
  }
}

@media screen and (max-width: 600px) {
  .pincontainertwo {
    right: 50px !important;
    top: -60px !important;
  }

  .responsiveaccordian {
    top: 55px;
  }

  .editors_menu_heading_sub_two {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
    position: absolute !important;
    left: 0 !important;
    margin-left: 10px !important;
    top: 235px !important;

    background: linear-gradient(
      87.62deg,
      #004cb6 -44.71%,
      #009af9 100%
    ) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    text-fill-color: transparent !important;
  }

  .newcategory_main_button {
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;

    color: #363636 !important;
    width: 344px !important ;
    height: 30px !important;
  }
}

@media screen and (max-width: 490px) {
  .tags_for_user_null {
    padding-bottom: 100px;
  }
  .buttons_container_detail_page {
    display: none;
  }

  .pincontainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 468px) {
  .buttons_container_detail_page_two {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 0;
  }
}

@media screen and (max-width: 468px) {
  .tags_wrapper_two {
    padding: 0px 10px 0px 00px;
    text-align: end;
    width: 100%;
    justify-content: flex-end;
  }
  .newcategory_main_button {
    width: 300px !important;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #363636;
  }

  .detailpagesubcontainertwo {
    padding: 5px;
  }

  .header_text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
  }

  .header_texttwo {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    padding-top: 22px;
  }

  .editcoursestructuretext {
    margin-top: 22px;
  }

  .detailpagesubcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .detail_page_image {
    width: 100% !important;
  }

  .detail_page_image_two {
    width: 80% !important;
  }

  .editcoursestructurecontainer {
    margin-top: 40px;
  }

  .pincontainertwo {
    right: 20px !important;
    top: -60px !important;
  }

  .userdetailfootericons {
    width: 30px !important;

    height: 30px !important;
  }

  .userdetailpagefootertext {
    font-size: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .userdetailfootericonsleft {
    margin-right: 30px;
    margin-top: 30px;
  }

  .userdetailfootericonsright {
    margin-left: -30px;
    margin-top: 30px;
  }

  .userdetailpagefootertexttwo {
    font-size: 8px;
    font-weight: 300px;
  }

  .deleteeditcontainer {
    display: flex;
    padding-left: 5px;
  }

  .editors_menu_heading_sub_two {
    left: 10px !important;
    top: 164px !important;
  }
  .deleteeditcontainer {
    width: 100%;
    padding-right: 10px;
  }
}

@media screen and (max-width: 425px) {
  .pincontainertwo {
    right: 14px !important;
    top: -50px !important;
  }

  .editor_input_field {
    margin-left: 25px;
    width: 160px;
  }

  .newcategory_main_button {
    width: 344px !important;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #363636;
  }

  .button_container_two {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
  }
  .editor_submit_button {
    margin-left: 5px;
    width: 20px;
    font-size: 10px;
  }
  .search_main_container {
    margin-left: 8px;
    padding: 10px 0px;
  }
  .action_container {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 344px) {
  .newcategory_main_button {
    width: 300px !important;
  }
}

@media screen and (max-width: 1150px) {
  .date_text_container_one {
    padding-right: 0px !important;
  }

  .date_text_container_two {
    padding-left: 0px !important;
  }
}
