.mainContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.mycontentheadingone {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.mycontentheadingtwoo {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-top: 55px;
  margin-left: 0px;
}

.intro-slides {
  width: 97% !important;
  height: 262px !important;
}

.slick-next {
  right: -14px !important;
}

.slick-prev {
  left: -20px !important;
}

.content_root_container {
  padding: 10px 5px;
  /* width: 100%; */
}



.Signup_button {
  background: linear-gradient(87.62deg, #004cb6 -44.71%, #009af9 100%);

  border-radius: 15px;
  border: none;
  padding: 2px 20px;
  margin-left: 5px;
  width: 130px;
  height: 40px;
  margin-top: 35px;
}
.Signup {
  margin-right: 30px;
}
.Author {
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #c8c8c8;
}
.rating {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.footer_button {
  background: rgba(196, 196, 196, 1) !important;

  font-family: "Helvetica" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  text-transform: none !important;
  font-size: 10px !important;
  width: 60px;
  height: 60px;
  line-height: 11px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  border-radius: 50% !important;
  margin-left: 10px !important;
}

