textarea.addcategory_input {
  resize: none;
  height: 120px;
}

.main_root_container_upload_content {
  padding: 0px 40px;
}

.upload_new_content_text {
  width: 100%;
  display: flex;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.update_button_new {
  background: linear-gradient(87.62deg, #004cb6 -44.71%, #009af9 100%);
  border-radius: 12px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  width: 170px;
  justify-content: center;
  margin-top: 14px;
  margin-left: 38px;
  padding: 6px 10px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.main_slide_container {
  padding: 2px 0px;
}

@media screen and (max-width: 959px) {
  .image_none {
    display: block;
  }
  .main_slide_container {
    padding-top: 30px;
  }
  .main_root_container_upload_content {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 336px) {
  .main_root_container_upload_content {
    padding: 0px 0px;
    margin-left: 8px;
  }
}
