.mainContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.mycontentheadingone {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.mycontentheadingtwo {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.intro-slides {
  width: 97% !important;
  height: 262px !important;
}

.slick-next {
  right: -14px !important;
}

.slick-prev {
  left: -20px !important;
}

.content_root_container{
    padding: 20px 20px;
    width: 100%;
  
}

@media screen and (max-width: 380px){
.content_root_container{
  padding: 10px 10px;
  margin-left: 15px;
  width: 100%;
} 
}