.Searchb_main {
  margin-top: -56px;
}
.logocontainertwo {
  position: relative;
  left: -40px;
  top: 0;
}
.logocontainerone {
  position: relative;
  left: -30px;
}
.logocontainerseven {
  position: relative;
  left: -14px;
  /* border: 1px solid red !important; */
}
.logocontaineredit{
  position: relative;
  left: 7px;
}

/* .logocontainertwenty{
  position: relative !important;
  left: -100px !important;
  margin-left: 200px !important;
  border: 1px solid red !important;
} */

.logocontainereight {
  position: relative;
  left: -10px;
}
.logocontainernine {
  position: relative;
  left: -35px;
}
.logocontainerten {
  position: relative;
  left: -15px;
}
.logocontainereleven {
  position: relative;
  left: -14px;
}
.hamburgericonsidebar {
  width: 30px !important;
  height: 22.5px !important;
}
.wrapthree {
  display: none;
}
.editoriconsidebar {
  width: 40px;
  height: 40px;
  position: relative;
  left: 0px;
}
.mainsearchcontianer {
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  display: flex;
}
.arrows_icon_sidebar {
  width: 24.4px;
  height: 22.91px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-top: 5px;
  /* border: 1px solid red; */
}
.left_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.right_search {
  height: 42px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  border-radius: 10px;
}
.left {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
.searchbar_input {
  border-radius: 5px 0px 0px 5px !important;
  padding-left: 10% !important;
  height: 32.5px !important;
  border: none !important;
  outline: none !important;
  width: 100% !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
}
.searchbar_input::placeholder {
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
}
.searchbar_input_two {
  border-radius: 5px 0px 0px 5px !important;
  padding-left: 10% !important;
  height: 32.5px !important;
  border: none !important;
  outline: none !important;
  width: 100% !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  color: #363636 !important;
}
.searchbar_input_two::placeholder {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  color: #363636 !important;
}
.right {
  height: 32.5px;
  border-radius: 0px 5px 5px 0px;
}
.MuiAppBar-root {
  box-shadow: none !important;
}
.subheadingsidebar {
  margin-left: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding-top: 2px;
}
.profilesidebaricon {
  margin-left: -9px;
  width: 40px;
  height: 40px;
}
.toolbar_rowreverse {
  display: flex;
}
.wrap {
  display: none;
}
.wraptwo {
  display: none;
}
.wrap .search_icon {
  height: 60px;
  font-size: 14px;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}
.search_icon:focus:hover {
  background: #4f4f4f;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  height: 50px;
  margin-top: 7px;
  color: white;
  outline: none;
}
.search_icon:focus {
  width: 370px;
  z-index: 1;
  cursor: text;
}
.darkThemeBar:focus:hover {
  background: white;
  color: black;
}
.whitethemeBar:focus:hover {
  background: #4f4f4f;
  color: white;
}
.toolbarclassone {
  background: #111111 !important;
  min-height: 61px !important;
}
.toolbarclasstwo {
  background: #f3f6ff !important;
  min-height: 61px !important;
}
.sidebar_inputfield {
  background: #4f4f4f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none !important;
  padding-left: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  outline: none !important;
  width: 280px;
  height: 40.53px !important;
}
.sidebar_inputfield::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.sidebar_inputfield_sub {
  background: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none !important;
  padding-left: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #363636;
  outline: none !important;
  width: 280px;
  height: 40.53px !important;
}
.sidebar_inputfield_sub::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #363636;
}
.logo_main_container {
  padding-left: 320px;
}
.logo_main_container_two {
  padding-left: 360px;
}
.inputfield_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.input_field_icon_container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #4f4f4f;
  width: 40px;
  height: 40.53px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}
.input_field_icon_container_sub {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 40px;
  height: 40.53px !important;
  border: none !important;
}
.listitem_text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.listitem_text_disabled {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #4f4f4f;
}

.sidenav_logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  right: -10px;
  top: 0px;
}
.sidenav_logotwo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  right: -6px;
  margin-right: 20px;
  top: 0px;
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  margin: auto;
  text-align: center;
}
.switch input {
  position: absolute;
  opacity: 0;
}
.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #bdb9a6;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 133.981px;
  border-radius: 1em;
  border: 1px solid #ffffff;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  margin-top: -1px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.divider_class {
  background-color: #e3e3e3 !important;
  width: 197px !important;
  margin-left: 20px !important;
}

.switch_class {
  margin: 8px 0px 0px 30px;
}

.accordionbutton {
  padding: 1px 0px 0px 0px !important;
  border: none !important;
  background: none;
  margin-left: -16px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1012px) {
  .logo_main_container {
    padding-left: 0px;
    position: relative;
    right: -100px;
  }
  .logocontainereleven {
    position: relative;
    left: -3px;
  }
  .logocontainerone {
    position: relative;
    left: -20px;
  }

  .logocontainerthree {
    position: relative;
    left: -5px;
    top: 0;
  }

  .logocontainerseven {
    position: relative;
    left: -3px;
  }

  .logocontainereight {
    position: relative;
    left: 0px;
  }

  .logocontainernine {
    position: relative;
    left: -25px;
  }

  .logocontainerten {
    position: relative;
    left: -5px;
  }

  .logocontainertwo {
    position: relative;
    left: -30px;
    top: 0;
  }
  .logo_main_container_two {
    padding-left: 0px;
    position: relative;
    right: -130px;
  }
  .sidebar_inputfield {
    width: 180px;
  }
  .sidebar_inputfield_sub {
    width: 180px;
  }
}

@media screen and (max-width: 820px) {
  .logo_main_container {
    padding-left: 0px;
    position: relative;
    right: -100px;
  }
  .logo_main_container_two {
    padding-left: 0px;
    position: relative;
    right: -100px;
  }
  .sidebar_inputfield {
    width: 180px;
  }
  .sidebar_inputfield_sub {
    width: 180px;
  }
}

@media screen and (max-width: 755px) {
  .divider_class {
    width: 197px !important;
  }
  .switch_class {
    margin: 8px 0px 0px 30px;
  }
  .editoriconsidebar {
    width: 30px;
    height: 30px;
    position: relative;
    left: 0px;
    margin-right: -10px;
  }
  .hamburgericonsidebar {
    width: 20px !important;
    height: 14.6px !important;
    margin-left: 10px;
  }
  .searchiconsize {
    width: 22px;
    height: 22px;
  }
  .subheadingsidebar {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.015em;
    color: #ffffff;
    padding-bottom: 2px;
  }

  .prodilesidebaricon {
    width: 30px;
    height: 30px;
  }

  .logo_main_container {
    padding-left: 0px;
    position: initial;
    right: -100px;
  }

  .logo_main_container_two {
    padding-left: 0px;
    position: initial;
    right: -100px;
  }
  .arrows_icon_sidebar {
    width: 17.22px;
    height: 16.47px;
  }
  .sidebar_inputfield {
    display: none;
  }
  .sidebar_inputfield_sub {
    display: none;
  }
  .input_field_icon_container {
    display: none;
  }
  .input_field_icon_container_sub {
    display: none;
  }
  .wrap {
    display: block;
    position: relative;
    top: 21px;
    margin-top: -32px;
  }

  .wraptwo {
    display: block;
    position: relative;
    left: 0px;
    top: 2px;
    margin-top: 0px;
  }

  .toolbar_rowreverse {
    flex-direction: row-reverse;
  }
  .sidenav_logo {
    margin-right: 14px;
    width: 25px;
    height: 25px;
  }

  .sidenav_logotwo {
    margin-right: 40px;
    width: 25px;
    right: -12px;
    height: 25px;
  }

  .listitem_text {
    font-size: 14px;
  }
  .listitem_text_disabled {
    font-size: 14px;
  }
  .accordionbutton {
    margin-left: -43px !important;
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 600px) {
  .profilesidebaricon {
    margin-left: -4px;
    width: 30px;
    height: 30px;
  }

  .Searchb_main {
    margin-top: -46px;
  }

  .switch_class {
    margin: 8px 0px 0px 100px;
  }

  .toolbarclassone {
    background: #111111 !important;
    min-height: 42px !important;
  }

  .toolbarclasstwo {
    background: #f3f6ff !important;
    min-height: 42px !important;
    border: 1px solid #f3f6ff;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
}