/* 


body {
  background-color: black !important;
}
* {
  color: white !important;
}   */

.toolbar_rowreverse {
  display: flex;
}

.wrap {
  margin: 0px 0px;
  display: inline-block;
  position: relative;
  height: 0px;
  display: none;
}

.wrap .search_icon {
  height: 60px;
  font-size: 14px;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  background: #4f4f4f;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  height: 50px;
  margin-top: 7px;
  color: white !important;
  outline: none;
}

input[type="text"]:focus {
  width: 370px;
  z-index: 1;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  background: url(../assests/VectorBlue.png) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}























.sidebar_inputfield {
  background: #4f4f4f;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  color: white !important;
  outline: none;
  width: 300px;
}

.sidebar_inputfield::placeholder {
  color: white;
}
/* white theme input fiedl */
.sidebar_inputfield_sub {
  background: white;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  color: black !important;
  outline: none;
  width: 300px;
}

.sidebar_inputfield_sub::placeholder {
  color: black;
}

.logo_main_container {
  padding-left: 240px;
}

.inputfield_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.input_field_icon_container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  background: #4f4f4f;
  padding-left: 2px;
  width: 30px;
  height: 40px;
  border: none !important;
}

.input_field_icon_container_sub {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  background: white;
  padding-left: 2px;
  width: 30px;
  height: 40px;
  border: none !important;
}

.listitem_text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.listitem_text_disabled {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #4f4f4f;
}

.sidenav_logo {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .logo_main_container {
    padding-left: 0px;
  }
  .sidebar_inputfield {
    display: none;
  }
  .sidebar_inputfield_sub {
    display: none;
  }
  .input_field_icon_container {
    display: none;
  }
  .input_field_icon_container_sub {
    display: none;
  }
  .wrap {
    display: block;
    margin-top: -21px;
    margin-right: -20px;
  }

  .toolbar_rowreverse {
    flex-direction: row-reverse;
  }
  .sidenav_logo {
    margin-right: 28px;
    width: 34px;
  }

  .listitem_text {
    font-size: 14px;
  }
  .listitem_text_disabled {
    font-size: 14px;
  }
}

@media screen and (max-width: 490px) {
  input[type="text"]:focus {
    width: 240px;
    z-index: 1;
    cursor: text;
  }
}

@media screen and (max-width: 400px) {
  input[type="text"]:focus {
    width: 240px;
    z-index: 1;
    cursor: text;
  }
}
