/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"); */
/* @font-face {
  font-family: Helvetica !important;
  src: url(./assests/Helvetica/Helvetica.ttf) !important;
} */

/* body {
  
} */

.darkTheme {
  background-color: #111111;
  color: white;

  padding-top: 64px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lightTheme {
  background: #EEEEEE;
  color: black;
  padding-top: 64px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica !important;
}

@media screen and (max-width: 600px) {
  .darkTheme {
    padding: 50px 0px;
  }

  .lightTheme {
    padding: 50px 0px;
  }
}
